[submodule "thirdparty/value-ptr-lite"]
	path = thirdparty/value-ptr-lite
	url = git@github.com:nitronoid/value-ptr-lite.git
[submodule "thirdparty/gsl-lite"]
	path = thirdparty/gsl-lite
	url = git@github.com:nitronoid/gsl-lite.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = git@github.com:nothings/stb.git
